In [3]:
import pandas as pd

In [4]:
file = 'melb_data.csv'
df = pd.read_csv(file)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [7]:
df[['Rooms', 'Landsize', 'Distance','Price']].describe()

              Rooms       Landsize      Distance         Price
count  13580.000000   13580.000000  13580.000000  1.358000e+04
mean       2.937997     558.416127     10.137776  1.075684e+06
std        0.955748    3990.669241      5.868725  6.393107e+05
min        1.000000       0.000000      0.000000  8.500000e+04
25%        2.000000     177.000000      6.100000  6.500000e+05
50%        3.000000     440.000000      9.200000  9.030000e+05
75%        3.000000     651.000000     13.000000  1.330000e+06
max       10.000000  433014.000000     48.100000  9.000000e+06

In [25]:
#nyari jumlah room pada rumah yang harganya paling mehol
df[df['Price']== 9000000.0]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12094,Mulgrave,35 Bevis St,3,h,9000000.0,PI,Hall,29/07/2017,18.8,3170.0,...,1.0,1.0,744.0,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113.0

In [42]:
#nyari berapa rata-rata harga rumah yang jarak ke CBD (variable Distance) terdekat?
df[df['Distance']==df['Distance'].min()]['Price'].mean()

671166.6666666666

In [73]:
#nyari rentang harga rumah di Southern Metropolitan
house_in_southern_metropolitan = df[df['Regionname']=='Southern Metropolitan']
house_in_southern_metropolitan['Price'].max() - house_in_southern_metropolitan['Price'].min()

7869000.0

# ...nomor selanjutnya (nomor 3)

nilai outlier adalah nilai yang berada dibawah Q1 - (1.5 * IQR) atau di atas Q3 + (1.5*)

1. hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)
2. hitung ada berapa nilai outlier pada kolom Price